<app-header></app-header>
<main>
  <div class="title-wrapper">
    <img
      class="hanuman-icon"
      src="./assets/hanuman-flag-small.png"
      alt="Lama Flag"
    />
    <h1 class="title-top">
      <a [routerLink]="['/']" class="plain-link">Reflections</a>
    </h1>
    <h1 class="title-bottom">
      <em class="title-from"
        ><a [routerLink]="['/']" class="plain-link">from</a></em
      >
      <span class="title-ram-dass"
        ><a [routerLink]="['/']" class="plain-link">Ram Dass</a></span
      >
    </h1>
  </div>

  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
