:host {
  display: grid;
  overflow: hidden;
  min-height: 100vh;
  background-color: #007f96;
  background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 80px;

  color: #f8f8ff;
}

main {
  max-width: 1000px;
  width: 93vw;
  margin: 0 auto;
}

.title-top {
  margin-bottom: 5px;
}
.title-bottom {
  display: flex;
  margin-top: 0;

  .title-from {
    font-family: "Homemade Apple", cursive;
    font-size: 0.9em;
    min-width: 80px;
    margin-right: 10px;
  }
  .title-ram-dass {
    font-size: 58px;
  }
}
