@import "~normalize.css";

@font-face {
  font-family: "NewAthenaUnicode";
  font-weight: normal;
  font-style: normal;

  src: url("./assets/fonts/NewAthenaUnicode.ttf.woff") format("woff"),
    url("./assets/fonts/NewAthenaUnicode.ttf.svg") format("svg"),
    url("./assets/fonts/NewAthenaUnicode.ttf.eot"),
    url("./assets/fonts/NewAthenaUnicode.ttf.eot?#iefix")
      format("embedded-opentype");
}

body {
  font-family: "NewAthenaUnicode";

  height: 100%;
}

.button {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007f96;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}
