@import "~normalize.css";

@font-face {
  font-family: "NewAthenaUnicode";
  font-weight: normal;
  font-style: normal;

  src: url("./assets/fonts/NewAthenaUnicode.ttf.woff") format("woff"),
    url("./assets/fonts/NewAthenaUnicode.ttf.svg") format("svg"),
    url("./assets/fonts/NewAthenaUnicode.ttf.eot"),
    url("./assets/fonts/NewAthenaUnicode.ttf.eot?#iefix")
      format("embedded-opentype");
}

html {
  background-color: #007f96;
}

body {
  font-family: "NewAthenaUnicode";

  height: 100%;
}

.plain-link {
  color: #f8f8ff;
  text-decoration: none;
}

.light-link {
  color: #f8f8ff;
}

.return-button-wrapper {
  position: absolute;
  top: 50px;
  text-align: right;
  width: 93vw;
  max-width: 1000px;

  @media (max-width: 550px) {
    position: initial;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
  }
}

.button {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #007f96;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  @media (max-width: 550px) {
    width: 80%;
    margin: 0 auto;
  }
}
