.result-container {
  font-size: 36px;
  border-radius: 5px;
  padding: 10px 20px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.result-category-wrapper {
}
.result-category {
  font-family: "Homemade Apple", cursive;
}
.result-quote-card {
}
