<div *ngIf="displayedQuote" class="result-container">
  <div class="result-category-wrapper">
    {{ getCategorySentencePrefix() }}
    <em class="result-category">{{ displayedQuote.category }} -</em>
  </div>
  <div class="result-quote-card-wrapper">
    <div class="text">
      <p>
        <span class="smart-quote left">“</span>{{ displayedQuote.text
        }}<span class="smart-quote right">”</span>
      </p>
    </div>
  </div>
</div>
<div class="quote-button-wrapper">
  <button class="button" (click)="getQuoteClickHandler('inspiration')">
    Get Another Ram Dass Quote ▾
  </button>
</div>
