<div *ngIf="displayedQuote" class="result-container">
  <div class="result-category-wrapper">
    {{ getCategorySentencePrefix() }}
    <em class="result-category">{{ displayedQuote.category }} -</em>
  </div>
  <div class="result-quote-card-wrapper">
    <div class="text">
      <p>
        <span class="smart-quote left">“</span>{{ displayedQuote.text
        }}<span class="smart-quote right">”</span>
      </p>
    </div>
  </div>
</div>
<div class="quote-button-wrapper">
  <button class="button" (click)="getQuoteClickHandler()" tabindex="1">
    Get Another Ram Dass Quote <span class="down-arrow">▾</span>
  </button>
  <div class="categories-container" [ngClass]="{'expanded': this.categoriesShown}">
    <div class="category-wrapper" tabindex="2" (click)="getQuoteByCategory(null)">Random</div>
    <div class="category-wrapper" *ngFor="let category of availableCategories; let i = index" [attr.tabindex]="i + 3" (click)="getQuoteByCategory(category)">     {{ getCategorySentencePrefix() }} {{category}}</div>
  </div>
</div>
